#home-top-bar-container {
	background-color: transparent;
	border: none;
	.container {
		padding: 0;
		.navbar-header {
			margin: 0;
			padding-right: 10px;
			padding-top: 5px;
			#camera-icon {
				background-image: url('./camera-icon.png');
				background-size: 35px 35px;
				cursor: pointer;
				height: 35px;
				width: 35px;
			}
		}
	}
}