#query-bar-container {
	bottom: 135px;
	font-size: 14px !important;
	font-weight: 300 !important;
	position: fixed;
	width: 92%;
	.suggested-questions-container {
		.question {
			color: whitesmoke;
			margin-bottom: 5px;
			&:first-child {
				opacity: 0.65;
			}
			&:nth-child(2) {
				opacity: 0.75;
			}
			&:last-child {
				opacity: 1;
			}
		}
	}
	.query-container {
		input[name='query'] {
			background-color: black;
			border: none;
			color: white;
			border-radius: 20px;
			opacity: 0.4;
			outline: none;
			padding: 15px 40px;
			width: 100%;
		}
		label[for='query'] {
			color: rgb(243, 165, 54);
		}
		input[name='query'] + label[for='query'] {
			bottom: 145px;
			font-size: inherit;
			font-weight: inherit;
			left: 65px;
			position: fixed;
			&:after {
				content: " a character to place them into space";
				color: whitesmoke;
			}
		}
		.query-icon-container {
			.search-icon, .mic-icon {
				background-repeat: no-repeat;
				height: 20px;
				position: absolute;
				z-index: 1;
				&.search-icon {
					background-image: url("https://s3.amazonaws.com/aws-website-btn-9i0hi/icon-search.png");
					background-size: 15px;
					bottom: 11px;
					left: 15px;
					width: 15px;
				}
				&.mic-icon {
					background-image: url("https://s3.amazonaws.com/aws-website-btn-9i0hi/icon-mic.png");
					background-size: 10px;
					bottom: 15px;
					right: 20px;
					width: 10px;
				}
				&.spinner-icon {
					background-image: url("http://sites.jamanetwork.com/help/images/spinner-transparent.gif");
					background-size: 15px;
					bottom: 11px;
					left: 15px;
					width: 15px;
				}
			}
		}
	}
}
