<div id="query-bar-container">
    <div class="suggested-questions-container" ng-if="characterSelected">
        <div class="question" ng-repeat="(question, answer) in suggestedQuestions">{{$index + 1}}. {{question}}?</div>
    </div>
    <div class="query-container">
        <div class="query-icon-container" ng-if="characterSelected">
            <div class="search-icon"></div>
            <div class="mic-icon" ng-click="captureVoice()"></div>
        </div>
        <form id="askWatson" ng-submit="submitToWatson()">
            <input type="text" id="query" name="query" ng-disabled="!characterSelected" placeholder="{{queryPlaceholder}}" ng-model="formInput">
            <label for="query" ng-hide="characterSelected">Tap</label>
        </form>
    </div>
</div>
