.splash-container {
	animation: fadeOut 1.6s;
	animation-delay: 2.3s;
	background-color: #D3D3D3;
	height: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 2;

	.title {
		font-size: 2em;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: 1.5em;
		span {
			font-weight: 500;
		}
	}
	.sub-title {
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: .4em;
	}
	.image-container {
		margin-top: 4em;
		img {
			display: inline-block;

			&.green-lantern {
				margin-left: 1.5em;
			}
			&.flash {
				display: block;
				margin-bottom: 2em;
			}
			&.cyborg {
				display: block;
			}
		}
		.first-heroes {
			margin-bottom: 2em;
		}
		.second-heroes {
			margin-bottom: 2em;
		}
		.third-heroes {
			display: inline-block;
			margin-left: 1em;
			.aquaman {
				display: inline-block;
				margin-right: 3em;
			}
			.third-sub-heroes {
				display: inline-block;
				vertical-align: top;
			}
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		100% {
			opacity: 0
		}
	}
}
