.splash-container {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #D3D3D3;
	height: 100%;
	text-align: center;
	width: 100%;
	-webkit-animation: fadeOut 4s;
	animation: fadeOut 4s;


	.div-image-container {
		margin-top: 4em;
	}

	@keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}
	@-webkit-keyframes fadeOut {
		0% {opacity: 1;}
		100% {opacity: 0;}
	}

	h1 {
		font-size: 2em;
		font-weight: 400;
		margin-bottom: 0;
		margin-top: 1.5em;
		span {
			font-weight: 500;
		}
	}

	h3 {
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 20px;
		margin-top: .4em;
	}

	.div-first-heroes {
		margin-bottom: 2em;
	}

	.div-second-heroes {
		margin-bottom: 2em;
	}

	.div-third-heroes {
		display: inline-block;
		margin-left: 1em;
		.div-aquaman {
			display: inline-block;
			margin-right: 3em;
		}
		.div-third-sub-heroes {
			display: inline-block;
			vertical-align: top;
		}
	}

	img {
		display: inline-block;

		&.img-green-lantern {
			margin-left: 1.5em;
		}
		&.img-flash {
			display: block;
			margin-bottom: 2em;
		}
		&.img-cyborg {
			display: block;
		}
	}

}