#character-selection-container {
	position: fixed;
	bottom: 60px;
	width: 100%;
	.character-row {
		.character-icon-container {
			margin: 0 4px;
			padding: 0 5px 0 0;
			.character-icon {
				border-radius: 50%;
				cursor: pointer;
				height: 60px;
				width: 60px;
				&.disabled {
					filter: grayscale(100%);
				}
			}
		}
	}
	.camera-row {
		bottom: 20px;
		position: fixed;
		width: 100%;
		.camera-container {
			display: block;
			margin: 0 auto;
			width: 13%;
		}
	}
}
